.container {
    /* Add necessary styling here */
  }
  
  .slider {
    position: relative;
    width: 100%;
  }
  
  .slider__input {
    width: 100%;
  }
  
  .price-filter {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .productsidebar__btn {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  